/* Search Input Section */
.home_container {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.header_text {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}
.header_span {
  color: rgb(32, 20, 20);
}

.hr_line {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 20px 0px;
}

.search_form {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(147, 126, 54, 0) 154.14%
  );
  padding: 10px 40px;
  border-radius: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  box-shadow: 4px 5px 9px 2px rgba(51, 47, 47, 0.25);
}
.search_form form {
  margin: 10px 0px;
}

.search_form input {
  width: 70%;
}
.search_form input,
.search_form button {
  outline: none;
  padding: 10px;
  border-radius: 7px;
  border: none;
  box-shadow: 4px 5px 9px 2px rgba(51, 47, 47, 0.25);
}

.search_form button {
  padding: 10px 40px;
  background: linear-gradient(
    180deg,
    rgba(20, 114, 102, 0.75) 0%,
    rgba(147, 126, 54, 0) 154.14%
  );
  color: #fff;
  margin: 0px 10px;
}

.search_form button:hover {
  background: linear-gradient(
    180deg,
    rgba(104, 204, 43, 0.75) 0%,
    rgba(147, 126, 54, 0.75) 154.14%
  );
  transition: all 0.4s ease-in-out;
}

/* Search Result Section */

.search_results {
  background: linear-gradient(
    180deg,
    rgba(20, 114, 102, 0.75) 0%,
    rgba(147, 126, 54, 0) 154.14%
  );
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 30px;
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  padding: 0px 0px;
}

.image_div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.user_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.user_data_list {
  height: 600px;
  overflow-y: scroll;
  margin-top: 20px;
}
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(87, 87, 87);
  outline: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
}

/* Pagination Section */
.page_options {
  border: 1px solid rgba(211, 211, 211, 0.4);
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(
    177.85deg,
    rgba(131, 69, 209, 0.6) 1.81%,
    rgba(109, 21, 21, 0) 109.76%,
    rgba(82, 179, 156, 0.476436) 109.76%,
    rgba(135, 69, 183, 0.6) 109.76%
  );
  border-radius: 5px;
  box-shadow: 4px 5px 9px 2px rgba(51, 47, 47, 0.25);
}
.page_options select {
  padding: 5px;
  padding-top: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  margin-left: 5px;
}

.pagination_div button {
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(147, 126, 54, 0) 154.14%
  );
  color: #fff;
  margin: 0px 3px;
}

.page_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_div {
  text-align: center;
  margin: 50px 0px;
}
