.user_container {
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.back_btn_div {
  width: 25%;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(147, 126, 54, 0) 154.14%
  );
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.back_btn {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_icon {
  margin-left: 10px;
  font-size: 20px;
}

.user_information {
  background: linear-gradient(
    180deg,
    rgba(20, 114, 102, 0.75) 0%,
    rgba(147, 126, 54, 0) 154.14%
  );
  font-weight: 600;
  /* padding: 10px 40px; */
  border-radius: 10px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #fff;
}

.user_image_div {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.user_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user_name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.user_info_detail {
  text-align: left;
  padding-bottom: 4px;
  font-size: 14px;
}
.user_icons {
  text-align: left;
  margin-right: 10px;
}

.user_repos {
  margin-top: 20px;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(64, 57, 57, 0.75) 0%,
    rgba(205, 0, 0, 0) 154.14%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
}
.repo_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.repo_name {
  font-size: 20px;
  font-weight: 600;
}
.repo_desp {
  font-size: 15px;
  font-weight: 400;
}
.repo_icons {
  margin-right: 5px;
}

a {
  color: #fff;
  text-decoration: underline;
  font-weight: 600;
}
