@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(143, 134, 134);
  color: #fff;
}

body::-webkit-scrollbar {
  width: 0.6em;
}


body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.container {
  width: 700px;
  height: 100%;
  margin: 20 auto;
}
