@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(
    180deg,
    rgba(64, 57, 57, 0.75) 0%,
    rgba(205, 0, 0, 0) 154.14%
  ); */
  color: #fff;
}

.container {
  width: 700px;
  height: 100%;
  margin: 20 auto;
}
